/* css styles */
@media (max-width: 767px) {
    .math.display {
      font-size: 0.6em;
    }
  }

.math.display {
    overflow-x: auto;
    max-width: 100%;
    padding: 0.5em 0;
    display: flex;
    justify-content: flex-start;
}

.math.display > mjx-container {
    display: inline-block !important;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100% !important;
    min-width: 100%;
    margin: 0 !important;
}

.math.display > mjx-container > svg {
    max-width: none;
    overflow: visible;
}